@mixin clearfix {
  &::after {
    content: ""; // important to add
    display: table; // standard
    clear: both; // to get back high , lost due to float
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
